In [ ]:
import numpy as np
import pandas as pd

In [ ]:
raw_data_1 = {
        'subject_id': ['1', '2', '3', '4', '5'],
        'first_name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'], 
        'last_name': ['Anderson', 'Ackerman', 'Ali', 'Aoni', 'Atiches']}

data1= pd.DataFrame(raw_data_1)
data1

In [ ]:
raw_data_2 = {
        'subject_id': ['4', '5', '6', '7', '8'],
        'first_name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'], 
        'last_name': ['Bonder', 'Black', 'Balwner', 'Brice', 'Btisan']}

data2= pd.DataFrame(raw_data_2)
data2

In [ ]:
raw_data_3 = {
        'subject_id': ['1', '2', '3', '4', '5', '7', '8', '9', '10', '11'],
        'test_id': [51, 15, 15, 61, 16, 14, 15, 1, 61, 16]}
data3= pd.DataFrame(raw_data_3)
data3

In [ ]:
all_data=pd.concat([data1,data2], axis=0 , ignore_index=True)
all_data

In [ ]:
all_data_col=pd.concat([data1,data2], axis=1 , ignore_index=True)
all_data_col

In [ ]:
merged_data = pd.merge(all_data, data3, on='subject_id')
merged_data

In [ ]:
merged_data = pd.merge(data1, data2, on='subject_id' )
merged_data

In [ ]:
merged_data = pd.merge(data1, data2, on='subject_id', how='outer')
merged_data